.about{
    @include container;
    @include shadow;
    padding:2rem 5rem;
    color: #333;
    background-color: #eee;
    h2{
        color: #666;
        margin-bottom: 10px;
    }
    h3{
        margin-top: 10px;
    }
    

}