.about{
    @include container;
    @include shadow;
    padding:5rem;
    margin-top: 2rem;
    color: #333;
    background-color: #eee;
    h2{
        margin-bottom:10px;
    }
    h3{
        color: #666;
        margin-bottom: 10px;
    }
    h4{
        margin-bottom: 8px;
    }
    

}