.dashboard {
    border: 1px solid #ededed;
    box-shadow:0 0 2px 2px #999;
    padding:2rem 2rem;
    color: #222;
    .action{
        color: blue;
        font-size: 16px;
        margin-left:1rem;
        &:hover{
          color: cadetblue;
          cursor: pointer;
        }
    }
    
    span.status{
      border: 1.5px solid orange;
      border-radius: .5rem;
      padding:0.1rem .5rem;
      font-size:75%;
      margin-left: 1rem;
      &:hover{
        color: cadetblue;
        cursor: pointer;
      }
      &.todo {
        border-color: red;
      }
      &.working {
        border-color: orange;
      }
      &.done {
        border-color: green;
      }
      &.skip {
        border-color: blue;
      }
    }
    .routines, .usefulsites, .projects, .memos{
      border: 1px solid #ededed;
      box-shadow:2px 2px 2px 2px #999;
      border-radius: 1rem;
      margin: 2rem 0;
      padding:1rem 1rem;
      h4{
        color: #222;
      }
    }
    .routines .routinelist {
      border: 1px solid #ededed;
      border-radius: 1rem;
      background: #ededed;
      width: 30%;
      padding:1rem 1rem;
      h5{
        color: red;
        display: inline;
        margin-right:1rem;
      }
      .itemlist{
        margin-top:1rem;
        .item{
          margin-bottom: 1rem;
          p{
            font-weight: 500;
          }
          p, small{
            margin: 0;
          }
        }
      }
    }
    .usefulsites{
      .sitestab{
        nav{
          a{
            font-weight:500;
          }
        }
        .tab-content{
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          padding:1rem;
          .site{
            a{
              display: block;
            }
            margin-bottom:1rem;

          }
        }

      }
    }
    .projects{
      .project{
        border: 1px solid #ccc;
        border-radius: 1rem;
        margin: 1rem 1rem;
        padding: 1rem 1rem;
        .urls{
          .site{
            a{
              display: block;
            }
            margin-bottom:1rem;
          }
        }
        .form-group{
          display:block;
          margin:auto 0
        }
        h5{
          margin-bottom: 0
        }
      }
    }
}