@mixin dashboardsection {
  @include shadow;
  margin-top: 2rem;
  padding: 1rem 2rem;
}
.dashboard {
  @include container;
  @include shadow;
  margin-bottom: 5rem;
  .routine {
    @include dashboardsection;
    &__row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    
    &__card{
      width: 17rem;
      background-color: #ddd;
      padding: 0.5rem 1.5rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      h4 {
        display: inline-block;
        margin-right: .5rem;
        color: red;
      }
      .routine__add {
        color: blue;
      }
    }

    &__list{
      margin-top:1rem;
    }
    
    &__item{
      margin-bottom: 1rem;
      .item__title{
        font-weight: bold;
      }
      .routine__toggle {
        border-width: 1.5px;
        border-style: solid;
        border-radius: .5rem;
        display: inline-block;
        margin-left:0.5rem;
        margin-right: 0.5rem;
        padding:.1rem 0.5rem;
        font-size:75%;
        font-weight: bold;
        cursor: pointer;
        &.todo {
          border-color: red;
          color: red;
        }
        &.working {
          border-color: orange;
          color: orange;
        }
        &.done {
          border-color: green;
          color: green;
        }
        &.skip {
          border-color: blue;
          color: blue;
        }
      }
      .routine__delete {
        color: blue;
      }
    }
  }

  .memo{
    @include dashboardsection;
    i{
      color: blue;
      margin-left: 1rem;
    }
    &__row{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

    }
    &__card{
      width: 17rem;
      border-radius: 0.5rem;
      margin-bottom: 2rem;
      h4{
        color: red;
      }
      textarea{
        width: 90%;
        margin: .5rem auto;
      }
    }
  }


    
    
    .usefulsite{
      @include dashboardsection;
      i{
        color: blue;
        margin-left: 1rem;
      }
      .sitestab{
        margin-top: 2rem;
        .tab-nav{
          .tab-item{
            border: 1px solid #ddd;
            border-radius: 0.2rem;
            padding: 0.2rem .5rem;
            color: #222;
            cursor: pointer;
            &:hover{
              text-decoration: none;
            }
            &.active{
              color: red;
              border-bottom: none;
            }
          }
        }
        .tab-content{
          border-left: 1px solid #ddd;
          border-right: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          padding:1rem;
          .tab-pane{
            display:none;
            .description{
              margin-bottom:1rem;
            }
            .site{
              margin-bottom: 1rem;
              a{
                display: inline;
              }
            }
            &.show{
              display: block;
            }

          }
        }
      }
    }
    
  .project{
    @include dashboardsection;
    i{
      color: blue;
      margin-left: 1rem;
    }
    &__row{
      margin-top: 1rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;

    }
    &__url{
      width: 15rem;
      padding: 0.5rem 1rem;
      background-color: #ddd;
    } 
    &__note{
      width: 35rem;
      h4{
        color: red;
      }
      label{
        display: block;
      }
      textarea{
        width: 100%;
      }
    }
  }
}