.login{
  .login__card{
    margin: 3rem auto;
    max-width: 40rem;
    border: 1px solid #f0f0f0;
    background-color: #f0f0f0;
    @include shadow;
    padding: 2rem 2rem;
    .login__title{
      font-size: 300%;
      font-weight:400;
      color: blue;
      text-align: center;
    }
    .login__form {
      padding: 1rem 2rem;
      input{
        width:100%;
      }
      .login-button{
        width:10rem;
        margin: 1rem auto;
        margin-right: 3rem;
      }
      .thirdparty-links{
        margin: 1rem auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        span{
          vertical-align: middle;
          margin-left:.5rem;
        }
      }
    }
  }
}