@import '~antd/dist/antd.css';
.main {
  min-height: 85vh;
}
.taichi-icon{
  cursor: pointer;
  transition: all 0.2s;
}
.taichi-icon:hover{
  transform: scale(1.1);
}
.taichi-icon:active{
  transform: scale(1.0);
  transform: rotate(20deg);
}
.pillar-result{
  font-family: STKaiti, "华文楷体","KaiTi", "楷体",Georgia, "Times New Roman",   serif;
  font-size: 3rem;

}
.App {
  margin:0;
  padding:0;
}
.landing {
  position: relative;
  background: url('./img/showcase.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  height:85vh;
}
.side-nav {
  position: relative;
  float: left;
  width: 160px;
  z-index: 0.5;
  overflow-x: hidden;
  padding-top: 80px;
}
.snippet-content{
  margin-left:160px; /* Same as the width of the sidenav */
  padding: 0px 10px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
