@mixin button {
    @include shadow;
    color: white;
    text-align: center;
    padding: 0.5rem;
    border: 0;
    background: none;
    display: block;
    margin: 0.5rem 1rem;
}
.button{
    @include button;
    &--success {
        @include button;
        background-color: rgb(28, 184, 65); /* this is a green */
        &:hover{
            transform: scale(1.03);
            background-color: lighten(rgb(28, 184, 65),10%);
        }
    }

    &--error {
        @include button;
        background-color: rgb(202, 60, 60); /* this is a maroon */
        &:hover{
            transform: scale(1.03);
            background-color: lighten(rgb(202, 60, 60),10%);
        }
    }

    &--warning {
        @include button;
        background-color: rgb(223, 117, 20); /* this is an orange */
        &:hover{
            transform: scale(1.03);
            background-color: lighten(rgb(223, 117, 20),10%);
        }
    }

    &--secondary {
        @include button;
        background-color: rgb(66, 184, 221); /* this is a light blue */
        &:hover{
            transform: scale(1.03);
            background-color: lighten(rgb(66, 184, 221),10%);
        }
    }
}

        